@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
.loader {
  width: 32px;
  height: 16px;
  --g: radial-gradient(farthest-side, #2a7fff calc(100% - 3px) 98%, #0000 101%)
    no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 8px 8px;
  animation: l9 1s infinite alternate;
}
@keyframes l9 {
  0% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
  20% {
    background-position: 0 0, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0 100%, 50% 0, 100% 50%;
  }
  60% {
    background-position: 0 50%, 50% 100%, 100% 0;
  }
  80% {
    background-position: 0 50%, 50% 50%, 100% 100%;
  }
  100% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scroll::-webkit-scrollbar-track {
  background: #151d29;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* switch style */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: #2196f3;
  background-size: cover;
  transition: ease-out 0.4s;
  -webkit-transition: 0.4s;
  /* transition: 0.4s; */
}

.slider.theme::before {
  background-color: #2196f3;
  background-image: url("./assets/white.svg");
}
/* .slider.theme {
  background-color: #2a7fff;
} */

input:checked + .slider.theme::before {
  background-color: #2196f3;
  background-size: 18px 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("./assets/dark.svg");
}

/* input:checked + .slider:before {
  background-image: url("./assets/OpenAI.svg");
} */

/* input:checked + .slider {
  background-color: #2196f3;
} */

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.benner {
  background-image: linear-gradient(to bottom, #c2dbff4d, #c2dbff4d),
    url(./assets/benner.jpeg);
}
