@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.spin {
  width: 35px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #2a7fff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scroll::-webkit-scrollbar-track {
  background: #151d29;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* switch style */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: #2196f3;
  background-size: cover;
  transition: ease-out 0.4s;
  -webkit-transition: 0.4s;
  /* transition: 0.4s; */
}
.slider.chat::before {
  content: "Off";
  display: grid;
  font-weight: 500;
  color: #fff;
  place-items: center;
  font-size: 11px;
}

input:checked + .slider.chat::before {
  content: "On";
  display: grid;
  font-weight: 500;
  color: #fff;
  place-items: center;
  font-size: 11px;
}

.slider.theme::before {
  background-color: #2196f3;
  background-image: url("./assets/white.svg");
}
/* .slider.theme {
  background-color: #2a7fff;
} */

input:checked + .slider.theme::before {
  background-color: #2196f3;
  background-size: 18px 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("./assets/dark.svg");
}

/* input:checked + .slider:before {
  background-image: url("./assets/OpenAI.svg");
} */

/* input:checked + .slider {
  background-color: #2196f3;
} */

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.benner {
  background-image: linear-gradient(to bottom, #c2dbff4d, #c2dbff4d),
    url(./assets/benner.jpeg);
}
